.navbar {
	background-color:black;
}
.navbar-nav a{
	border-radius:0px;
	color:#666;
}
ul.nav a:hover {
	color:white !important;
}
.active {
	background-color:black;
	
}
.navbar-default .navbar-nav>li>a {
	color:#666;
}
.navbar-default .navbar-brand {
	color:white;
}

/*Helper Classes*/
.ml30px {
	margin-left:350px;
}